<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <form action="/login" method="post">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login">
        <div class="button-container">
            <span>Don't have an account?</span>
            <a href="/create-account">Create Account</a>
        </div>
    </form>
</body>
</html>
